<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.levinzonr.saferoute">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name="cz.levinzonr.saferoute.App"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Router">
        <activity
            android:name="cz.levinzonr.saferoute.MainActivity2"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Router.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="app" android:host="deeplink" />

            </intent-filter>
        </activity>
    </application>

</manifest>